@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 67%);
    --orange: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);
    /* Gradients */
    --first-blue-bg: hsl(252, 100%, 67%);
    --second-blue-bg: hsl(241, 81%, 54%);
    --first-blue-circle: hsla(256, 72%, 46%, 1);
    --second-blue-circle: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-white-light: rgba(255, 255, 255, 0.7);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral-lavender: hsl(241, 100%, 89%);
    --neutral-gray-blue: hsl(224, 30%, 27%);
}

p {
    font-size: 18px;
}

.container {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.total-card {
    display: flex;
    height: 420px;
    width: 620px;
    box-shadow: 7px 7px 5px 0px rgba(198, 189, 227, 0.4);
    border-radius: 24px;
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: linear-gradient(var(--first-blue-bg) 0%, var(--second-blue-bg) 100%);
    border-radius: 24px;
}

.title-left-card {
    color: var(--neutral-white-light);
    font-weight: bold;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--first-blue-circle) 0%, var(--second-blue-circle) 100%);
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.result-number {
    color: var(--neutral-white);
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}

.out-of {
    color: var(--neutral-white-light);
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.result-title {
    color: var(--neutral-white);
    font-size: 28px;
    font-weight: bold;
}

.info {
    color: var(--neutral-white-light);
    text-align: center;
    max-width: 25ch;
}

.right-card {
    display: flex;
    flex-direction: column;
    width: 38%;
    /* height: 100%; */
    margin-left: 6%;
    margin-right: 6%;
    gap: 24px;
}

.summary {
    color: var(--neutral-gray-blue);
    font-weight: bold;
    margin: 0;
    margin-top: 16px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

img {
    width: 16px;
}

.reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--red);
    height: 40px;
    border-radius: 8px;
}

.memory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(39, 100%, 56%, 0.1);
    color: var(--orange);
    height: 40px;
    border-radius: 8px;
}

.verbal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(166, 100%, 37%, 0.1);
    color: var(--green);
    height: 40px;
    border-radius: 8px;
}

.visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(234, 85%, 45%, 0.1);
    color: blue;
    height: 40px;
    border-radius: 8px;
}

.title-container {
    display: flex;
    margin-left: 12px;
}

.title-stat {
    font-size: 14px;
    margin-left: 8px;
}

.grade-stat {
    font-size: 16px;
    margin-right: 12px;
    color: rgba(128, 128, 128, 0.705);
    font-weight: 600;
}

.grade {
    font-weight: bold;
    color: rgb(70, 70, 70);
}

button {
    color: var(--neutral-white);
    font-weight: bold;
    background-color: var(--neutral-gray-blue);
    height: 10%;
    border: none;
    border-radius: 25px;
}