@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 67%);
    --orange: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);
    /* Gradients */
    --first-blue-bg: hsl(252, 100%, 67%);
    --second-blue-bg: hsl(241, 81%, 54%);
    --first-blue-circle: hsla(256, 72%, 46%, 1);
    --second-blue-circle: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-white-light: rgba(255, 255, 255, 0.7);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral-lavender: hsl(241, 100%, 89%);
    --neutral-gray-blue: hsl(224, 30%, 27%);
}

p {
    font-size: 18px;
    margin: 0;
}

.container {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.total-card {
    display: flex;
    height: 420px;
    width: 620px;
    box-shadow: 7px 7px 5px 0px rgba(198, 189, 227, 0.4);
    border-radius: 24px;
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background: linear-gradient(var(--first-blue-bg) 0%, var(--second-blue-bg) 100%);
    border-radius: 24px;
}

.title-left-card {
    color: var(--neutral-white-light);
    font-weight: bold;
    margin-top: 32px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--first-blue-circle) 0%, var(--second-blue-circle) 100%);
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.result-number {
    color: var(--neutral-white);
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}

.out-of {
    color: var(--neutral-white-light);
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    gap: 12px;
}

.result-title {
    color: var(--neutral-white);
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.info {
    color: var(--neutral-white-light);
    text-align: center;
    max-width: 25ch;
    font-size: medium;
    margin: 0;
}

.right-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 38%;
    margin: 32px 6% 32px 6%;
    gap: 24px;
}

.summary {
    align-self: start;
    color: var(--neutral-gray-blue);
    font-weight: bold;
    margin-top: 16px;
    margin: 0;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
}

img {
    width: 16px;
}

.reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--red);
    height: 48px;
    border-radius: 8px;

}

.memory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(39, 100%, 56%, 0.1);
    color: var(--orange);
    height: 48px;
    border-radius: 8px;
}

.verbal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(166, 100%, 37%, 0.1);
    color: var(--green);
    height: 48px;
    border-radius: 8px;
}

.visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(234, 85%, 45%, 0.1);
    color: blue;
    height: 48px;
    border-radius: 8px;
}

.title-container {
    display: flex;
    margin-left: 12px;
}

.title-stat {
    font-size: 14px;
    margin-left: 8px;
}

.grade-stat {
    font-size: 16px;
    margin-right: 12px;
    color: rgba(128, 128, 128, 0.705);
    font-weight: 600;
}

.grade {
    font-weight: bold;
    color: rgb(70, 70, 70);
}

button {
    color: var(--neutral-white);
    font-weight: bold;
    background-color: var(--neutral-gray-blue);
    height: 12%;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 25px;
}

button:hover {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.26);
}

@media (max-width: 620px) {
    html {
        height: 100%;
        background-color: rgba(235, 235, 235, 0.178);
    }

    body {
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .total-card {
        flex-direction: column;
        width: 310px;
        height: 840px;
        background-color: white;
        border-radius: 24px 24px 0 0;
    }

    .left-card {
        width: 100%;
        height: 50%;
        border-radius: 0 0 24px 24px;
    }

    .right-card {
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .summary {
        margin-top: 26px;
        margin-left: 33px;
    }

    .stats {
        width: 80%;
        gap: 14px;
    }

    button {
        width: 80%;
        margin-bottom: 20px;
    }
}