@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    /* Primary */
    --orange: hsl(25, 97%, 53%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    background-color: rgba(14, 20, 4, 0.541);
}

p {
    font-size: 15px;
    color: var(--light-gray);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
    height: 410px;
    width: 410px;
    border-radius: 32px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 10%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-gray);
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.top-circle {
    align-self: start;
}

img {
    width: 35%;
}

h1 {
    color: var(--white);
    align-self: start;
}

.grade {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    width: 100%;
    height: 12%;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    padding: 0;
    border-radius: 24px;
}